/* :: 11.0 Blog & Contact Area CSS */

.blog-content span,
.contact-heading-text span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #111111;
    margin: 0 auto 30px;
}

.blog-content h2,
.contact-heading-text h2 {
    font-size: 36px;
}

.contact-heading-text h2,
.blog-content p {
    margin-bottom: 50px;
}

.post-date,
.post-date:hover,
.post-date:focus {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.post-author,
.post-author:hover,
.post-author:focus {
    font-size: 12px;
    text-transform: uppercase;
    color: #838383;
    display: block;
    margin-bottom: 50px;
}

.pagination-area .page-link {
    color: #1d1d1d;
    border: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.page-item.active .page-link {
    z-index: 1;
    color: #1d1d1d;
    background-color: transparent;
    border-color: transparent;
    padding-right: 80px;
}

.page-item.active .page-link:after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #1d1d1d;
    position: absolute;
    bottom: 13px;
    left: 45px;
}

.contact-form-area form .form-control {
    margin-bottom: 30px;
    font-size: 14px;
    font-style: italic;
    height: 60px;
    border-bottom: 2px solid #c0c0c0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: none;
    background-color: transparent;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form-area form .form-control:focus {
    box-shadow: none;
    border-color: #1d1d1d;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form-area form textarea.form-control {
    height: 200px;
}

.map-area {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

#googleMap {
    width: 100%;
    height: 485px;
    position: relative;
    z-index: 1;
}

.contact-core-info {
    position: absolute;
    top: 30px;
    width: 280px;
    background-color: #1d1d1d;
    z-index: 1000;
    left: -90px;
    padding: 15px 40px;
    text-align: center;
    height: calc(100% - 60px);
}

.contact-core-info img {
    margin-bottom: 50px;
}

.contact-core-info .single-footer-content {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.contact-core-info .single-footer-content img {
    display: block;
    margin: 0 auto 10px;
}

.contact-popup-form .modal-content {
    padding: 50px;
}

.contact-popup-form .modal-content {
    padding: 50px;
    border: none;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    background-color: rgba(15, 15, 15, 0.9);
}
